:root{
  --color-primary: #7D0202;
  --color-text-basic: #767676;
  --btn-dark: #3f0101;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  height: 80vh;
  position: relative;
  background-image: linear-gradient(
      rgba(125, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(/images/hero.jpg);
  background-size: cover;
  color: #fff;
  margin-bottom: 4.8rem;
}

.navigate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
} 

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
} 

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--btn-dark);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: var(--color-primary);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--btn-dark);
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}



/* Using Positioning will make it more difficult while trying to make it responsive so I'm with margin */


/* .header-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.header-container {
  margin-left: 10%;
}

.header-container-inner {
  width: 50%;
}


.header-container-inner h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

.header-container-inner p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.feature-icon {
  color: #7d0202;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #f2e6e6;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #7D0202;
}

.grid--footer {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-text-basic);
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-text-basic);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* This is the media query to make it responsive */
@media (max-width: 768px) {
  .header-container-inner h1 {
    font-size: 36px;
    margin-bottom: 16px;
    line-height: 1.2;
  }

  .header-container-inner p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .btn:link,
  .btn:visited {
    font-size: 13px;
    font-weight: 600;
    background-color: var(--color-primary);
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 9px;
  }

  .footer {
    padding: 30px;
  }

  .grid {
    display: grid;
    column-gap: 1.4rem;
    row-gap: 5rem;
  }

  .grid--footer {
    grid-template-columns: 1fr;
  }
}